body {
    text-align: center;
    font-family: Handlee, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    display: flex;
    justify-content: space-evenly;
    height: 20px;
}
header .head {
    font-weight: bolder;
    width: 0;
}
